In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1213/Project2_options')

In [2]:
MARKET = "NKY"
EVENT = "FED" 
NUM_FILE = 5
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

# after the result

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:5]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > 4]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
12 2016-12-07 2016-12-15    2017-01-13        -0.01       46.90      -0.95       -10.33       -76500      104000               8             39        1072500            134062.5             35.75                      4.47
56 2015-12-15 2015-12-17    2016-01-08        -0.04       37.91      -1.00       -18.36       -88500       99000               2             34         357000            178500.0             11.90                      5.95

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -4]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2017-12-11 2017-12-14    2018-01-12         0.04       54.04       0.13       -12.06       -77500       67000               3             39        -409500          -136500.00        -13.650000                     -4.55
10 2017-12-13 2017-12-14    2018-01-12         0.00       51.98      -0.71       -11.58       -69500       65500               1             43        -172000          -172000.00         -5.733333                     -5.73
35 2017-06-14 2017-06-15    2017-08-10        -0.02       62.51      -1.75        -7.19       -82000       78500               1             37        -129500          -129500.00         -4.316667                     -4.32
42 2017-03-13 2017-03-16    2017-04-14        -0.01       46.32      -0.65       -10.62       -68000       59500               3             44        -374000          -124666.67        -12.466667                     -4.16
44 2017-03-14 2017-03-16    2017-04-14        -0.03       45.50      -1.01       -10.80       -67000       59500               2             45        -337500          -168750.00        -11.250000                     -5.62
46 2017-03-15 2017-03-16    2017-04-14         0.01       44.60      -0.37       -10.96       -72500       64500               1             41        -328000          -328000.00        -10.933333                    -10.93
47 2017-03-15 2017-03-16    2017-05-12        -0.03       62.04      -2.76        -9.11      -106000      100000               1             28        -168000          -168000.00         -5.600000                     -5.60
58 2015-12-16 2015-12-17    2016-01-08         0.04       38.06       0.00       -18.09       -83500       76500               1             36        -252000          -252000.00         -8.400000                     -8.40
59 2015-12-16 2015-12-17    2016-02-12        -0.03       60.38      -2.97       -10.90      -127000      121500               1             24        -132000          -132000.00         -4.400000                     -4.40

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > 4) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2017-12-11 2017-12-14    2018-01-12         0.04       54.04       0.13       -12.06       -77500       67000               3             39        -409500          -136500.00        -13.650000                     -4.55
10 2017-12-13 2017-12-14    2018-01-12         0.00       51.98      -0.71       -11.58       -69500       65500               1             43        -172000          -172000.00         -5.733333                     -5.73
35 2017-06-14 2017-06-15    2017-08-10        -0.02       62.51      -1.75        -7.19       -82000       78500               1             37        -129500          -129500.00         -4.316667                     -4.32
42 2017-03-13 2017-03-16    2017-04-14        -0.01       46.32      -0.65       -10.62       -68000       59500               3             44        -374000          -124666.67        -12.466667                     -4.16
44 2017-03-14 2017-03-16    2017-04-14        -0.03       45.50      -1.01       -10.80       -67000       59500               2             45        -337500          -168750.00        -11.250000                     -5.62
46 2017-03-15 2017-03-16    2017-04-14         0.01       44.60      -0.37       -10.96       -72500       64500               1             41        -328000          -328000.00        -10.933333                    -10.93
47 2017-03-15 2017-03-16    2017-05-12        -0.03       62.04      -2.76        -9.11      -106000      100000               1             28        -168000          -168000.00         -5.600000                     -5.60
56 2015-12-15 2015-12-17    2016-01-08        -0.04       37.91      -1.00       -18.36       -88500       99000               2             34         357000           178500.00         11.900000                      5.95
58 2015-12-16 2015-12-17    2016-01-08         0.04       38.06       0.00       -18.09       -83500       76500               1             36        -252000          -252000.00         -8.400000                     -8.40
59 2015-12-16 2015-12-17    2016-02-12        -0.03       60.38      -2.97       -10.90      -127000      121500               1             24        -132000          -132000.00         -4.400000                     -4.40

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:5]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > 4]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
12 2016-12-07 2016-12-14    2017-01-13        -0.01       46.90      -0.95       -10.33       -76500      101500               7             39         975000           139285.71              32.5                      4.64
56 2015-12-15 2015-12-16    2016-01-08        -0.04       37.91      -1.00       -18.36       -88500       96000               1             34         255000           255000.00               8.5                      8.50
57 2015-12-15 2015-12-16    2016-02-12        -0.02       59.37      -2.68       -11.23      -133000      139000               1             23         138000           138000.00               4.6                      4.60

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -4]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2017-12-11 2017-12-13    2018-01-12         0.04       54.04       0.13       -12.06       -77500       69500               2             39        -312000           -156000.0        -10.400000                     -5.20
20 2016-12-13 2016-12-14    2017-01-13         0.00       44.70      -0.71       -12.01       -74500       69500               1             40        -200000           -200000.0         -6.666667                     -6.67

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > 4) &  (df_before['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2017-12-11 2017-12-13    2018-01-12         0.04       54.04       0.13       -12.06       -77500       69500               2             39        -312000           -156000.0        -10.400000                     -5.20
20 2016-12-13 2016-12-14    2017-01-13         0.00       44.70      -0.71       -12.01       -74500       69500               1             40        -200000           -200000.0         -6.666667                     -6.67
56 2015-12-15 2015-12-16    2016-01-08        -0.04       37.91      -1.00       -18.36       -88500       96000               1             34         255000            255000.0          8.500000                      8.50
57 2015-12-15 2015-12-16    2016-02-12        -0.02       59.37      -2.68       -11.23      -133000      139000               1             23         138000            138000.0          4.600000                      4.60

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

2.5969999999999995

In [12]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

-2.717333333333334

In [13]:
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit afterthe event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())

Exit after the event: -2.717333333333334
Exit afterthe event: 3.1285415058814525
Exit before the event: -1.0874999999999992
Exit before the event: 3.345955728464156