In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1212/Project2_options')

In [2]:
MARKET = "ASX"
EVENT = "ECB" 
NUM_FILE = 7
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
54 2017-06-02 2017-06-09    2017-06-15         0.06        8.68       0.09        -3.30        -8700       11280               7             11          28160             4022.86             28.16                      4.02
75 2015-12-02 2015-12-10    2015-12-17         0.02        8.48      -0.01        -4.72       -14200       21980               8              7          54320             6790.00             54.32                      6.79
77 2015-12-03 2015-12-10    2015-12-17         0.00        8.16      -0.05        -4.99       -13990       19740               7              7          40110             5730.00             40.11                      5.73
81 2015-12-07 2015-12-10    2015-12-17         0.02        6.80      -0.01        -6.25       -12520       14230               3              8          13520             4506.67             13.52                      4.51

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2014-09-08 2014-09-11    2014-09-18        -0.01        7.36      -0.03        -4.09        -8200        6700               3             12         -18240            -6080.00            -18.24                     -6.08
12 2014-06-04 2014-06-12    2014-06-19        -0.06        8.76      -0.18        -3.34       -10050        6200               8             10         -38700            -4837.50            -38.70                     -4.84
14 2014-06-05 2014-06-12    2014-06-19         0.05        8.46       0.07        -3.46        -9770        6440               7             10         -33500            -4785.71            -33.50                     -4.79
20 2014-06-11 2014-06-12    2014-06-19         0.02        6.44       0.00        -4.19        -6730        6200               1             15          -8250            -8250.00             -8.25                     -8.25
31 2013-11-11 2013-11-14    2013-11-21         0.07        7.08       0.07        -4.34        -8780        7220               3             11         -17380            -5793.33            -17.38                     -5.79
37 2013-11-13 2013-11-14    2013-11-21        -0.06        6.26      -0.09        -5.42        -8700        7770               1             11         -10450           -10450.00            -10.45                    -10.45
46 2016-03-14 2016-03-17    2016-04-21         0.01       13.28      -0.18        -2.83       -21600       18380               3              5         -16200            -5400.00            -16.20                     -5.40
50 2016-03-16 2016-03-17    2016-04-21        -0.04       12.75      -0.42        -2.81       -20300       19510               1              5          -4050            -4050.00             -4.05                     -4.05
58 2017-06-06 2017-06-09    2017-06-15        -0.07        7.06      -0.12        -5.06        -9150        6480               3             11         -29590            -9863.33            -29.59                     -9.86
60 2017-06-07 2017-06-09    2017-06-15        -0.08        6.66      -0.12        -5.17        -8320        6480               2             12         -22320           -11160.00            -22.32                    -11.16
63 2013-05-01 2013-05-09    2013-05-16        -0.07        8.30      -0.20        -3.62       -10900        6700               8              9         -37980            -4747.50            -37.98                     -4.75
69 2013-05-06 2013-05-09    2013-05-16         0.02        6.80       0.01        -4.53        -9100        7400               3             11         -18920            -6306.67            -18.92                     -6.31
71 2013-05-07 2013-05-09    2013-05-16        -0.07        6.41      -0.10        -4.66        -8420        7400               2             12         -12480            -6240.00            -12.48                     -6.24
73 2013-05-08 2013-05-09    2013-05-16        -0.02        6.14      -0.04        -4.84        -7750        6800               1             13         -12610           -12610.00            -12.61                    -12.61
74 2013-05-08 2013-05-09    2013-06-20        -0.04       14.14      -0.48        -2.06       -17750       17100               1              6          -4020            -4020.00             -4.02                     -4.02

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2014-09-08 2014-09-11    2014-09-18        -0.01        7.36      -0.03        -4.09        -8200        6700               3             12         -18240            -6080.00            -18.24                     -6.08
20 2014-06-11 2014-06-12    2014-06-19         0.02        6.44       0.00        -4.19        -6730        6200               1             15          -8250            -8250.00             -8.25                     -8.25
31 2013-11-11 2013-11-14    2013-11-21         0.07        7.08       0.07        -4.34        -8780        7220               3             11         -17380            -5793.33            -17.38                     -5.79
37 2013-11-13 2013-11-14    2013-11-21        -0.06        6.26      -0.09        -5.42        -8700        7770               1             11         -10450           -10450.00            -10.45                    -10.45
46 2016-03-14 2016-03-17    2016-04-21         0.01       13.28      -0.18        -2.83       -21600       18380               3              5         -16200            -5400.00            -16.20                     -5.40
50 2016-03-16 2016-03-17    2016-04-21        -0.04       12.75      -0.42        -2.81       -20300       19510               1              5          -4050            -4050.00             -4.05                     -4.05
58 2017-06-06 2017-06-09    2017-06-15        -0.07        7.06      -0.12        -5.06        -9150        6480               3             11         -29590            -9863.33            -29.59                     -9.86
60 2017-06-07 2017-06-09    2017-06-15        -0.08        6.66      -0.12        -5.17        -8320        6480               2             12         -22320           -11160.00            -22.32                    -11.16
69 2013-05-06 2013-05-09    2013-05-16         0.02        6.80       0.01        -4.53        -9100        7400               3             11         -18920            -6306.67            -18.92                     -6.31
71 2013-05-07 2013-05-09    2013-05-16        -0.07        6.41      -0.10        -4.66        -8420        7400               2             12         -12480            -6240.00            -12.48                     -6.24
73 2013-05-08 2013-05-09    2013-05-16        -0.02        6.14      -0.04        -4.84        -7750        6800               1             13         -12610           -12610.00            -12.61                    -12.61
74 2013-05-08 2013-05-09    2013-06-20        -0.04       14.14      -0.48        -2.06       -17750       17100               1              6          -4020            -4020.00             -4.02                     -4.02
81 2015-12-07 2015-12-10    2015-12-17         0.02        6.80      -0.01        -6.25       -12520       14230               3              8          13520             4506.67             13.52                      4.51

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
18 2013-11-06 2013-11-13    2013-11-21         0.02        8.76       0.02        -3.15        -9500       12200               7            316         853200           121885.71         28.440000                      4.06
21 2013-11-07 2013-11-13    2013-11-21        -0.05        8.44      -0.15        -3.22        -9000       12200               6            333        1065600           177600.00         35.520000                      5.92
24 2013-11-08 2013-11-13    2013-11-21        -0.02        8.12      -0.08        -3.35        -8700       11100               5            345         828000           165600.00         27.600000                      5.52
27 2013-11-11 2013-11-13    2013-11-21         0.07        7.08       0.07        -4.34        -8780        9800               2            342         348840           174420.00         11.628000                      5.81
30 2013-11-12 2013-11-13    2013-11-21        -0.08        6.71      -0.12        -4.37        -7900       11100               1            380        1216000          1216000.00         40.533333                     40.53
45 2017-06-02 2017-06-08    2017-06-15         0.06        8.68       0.09        -3.30        -8700       11350               6            345         914250           152375.00         30.475000                      5.08
47 2017-06-05 2017-06-08    2017-06-15         0.02        7.60      -0.01        -4.26        -8530        9630               3            352         387200           129066.67         12.906667                      4.30

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
4  2014-09-05 2014-09-10    2014-09-18        -0.04        8.40      -0.11        -3.44        -8920        6900               5            336        -678720          -135744.00        -22.624000                     -4.52
6  2014-09-08 2014-09-10    2014-09-18        -0.01        7.36      -0.03        -4.09        -8200        6800               2            366        -512400          -256200.00        -17.080000                     -8.54
10 2014-06-04 2014-06-11    2014-06-19        -0.06        8.76      -0.18        -3.34       -10050        6730               7            299        -992680          -141811.43        -33.089333                     -4.73
12 2014-06-05 2014-06-11    2014-06-19         0.05        8.46       0.07        -3.46        -9770        7400               6            307        -727590          -121265.00        -24.253000                     -4.04
16 2014-06-10 2014-06-11    2014-06-19        -0.07        6.81      -0.12        -3.96        -7140        6630               1            420        -214200          -214200.00         -7.140000                     -7.14
17 2014-06-10 2014-06-11    2014-07-17         0.03       13.82       0.03        -1.92       -14360       13700               1            209        -137940          -137940.00         -4.598000                     -4.60
41 2016-03-15 2016-03-16    2016-04-21         0.02       12.92      -0.15        -2.93       -21800       20770               1            138        -142140          -142140.00         -4.738000                     -4.74
42 2016-03-15 2016-03-16    2016-05-19         0.00       17.08      -0.53        -2.33       -30490       29260               1             98        -120540          -120540.00         -4.018000                     -4.02
49 2017-06-06 2017-06-08    2017-06-15        -0.07        7.06      -0.12        -5.06        -9150        7420               2            328        -567440          -283720.00        -18.914667                     -9.46
51 2017-06-07 2017-06-08    2017-06-15        -0.08        6.66      -0.12        -5.17        -8320        7420               1            361        -324900          -324900.00        -10.830000                    -10.83
53 2013-05-01 2013-05-08    2013-05-16        -0.07        8.30      -0.20        -3.62       -10900        7830               7            275        -844250          -120607.14        -28.141667                     -4.02
71 2015-12-08 2015-12-09    2015-12-17         0.04        6.38       0.02        -6.64       -11990       11230               1            250        -190000          -190000.00         -6.333333                     -6.33

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2014-09-08 2014-09-10    2014-09-18        -0.01        7.36      -0.03        -4.09        -8200        6800               2            366        -512400          -256200.00        -17.080000                     -8.54
16 2014-06-10 2014-06-11    2014-06-19        -0.07        6.81      -0.12        -3.96        -7140        6630               1            420        -214200          -214200.00         -7.140000                     -7.14
17 2014-06-10 2014-06-11    2014-07-17         0.03       13.82       0.03        -1.92       -14360       13700               1            209        -137940          -137940.00         -4.598000                     -4.60
27 2013-11-11 2013-11-13    2013-11-21         0.07        7.08       0.07        -4.34        -8780        9800               2            342         348840           174420.00         11.628000                      5.81
30 2013-11-12 2013-11-13    2013-11-21        -0.08        6.71      -0.12        -4.37        -7900       11100               1            380        1216000          1216000.00         40.533333                     40.53
41 2016-03-15 2016-03-16    2016-04-21         0.02       12.92      -0.15        -2.93       -21800       20770               1            138        -142140          -142140.00         -4.738000                     -4.74
42 2016-03-15 2016-03-16    2016-05-19         0.00       17.08      -0.53        -2.33       -30490       29260               1             98        -120540          -120540.00         -4.018000                     -4.02
47 2017-06-05 2017-06-08    2017-06-15         0.02        7.60      -0.01        -4.26        -8530        9630               3            352         387200           129066.67         12.906667                      4.30
49 2017-06-06 2017-06-08    2017-06-15        -0.07        7.06      -0.12        -5.06        -9150        7420               2            328        -567440          -283720.00        -18.914667                     -9.46
51 2017-06-07 2017-06-08    2017-06-15        -0.08        6.66      -0.12        -5.17        -8320        7420               1            361        -324900          -324900.00        -10.830000                    -10.83
71 2015-12-08 2015-12-09    2015-12-17         0.04        6.38       0.02        -6.64       -11990       11230               1            250        -190000          -190000.00         -6.333333                     -6.33

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

2.7370114942528736

In [12]:
df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()

-2.9347619047619036

In [ ]:
print("Exit after the event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit afterthe event:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())