In [1]:
import os
from datetime import datetime
import pandas as pd

from optionStrategies import long_call, short_call, long_call_long_put, long_call_short_put
from data_import import get_data
from tradeStat import results
from pathlib import PurePath, Path

pp = PurePath(Path.cwd()).parts[:]
pdir = PurePath(*pp)
infp=PurePath(pdir)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
infp

PureWindowsPath('C:/Users/rex.wong/Documents/Project2_options_1213/Project2_options')

In [2]:
MARKET = "ASX"
EVENT = "BREXIT" 
NUM_FILE = 1
RETURN_THRE = 4

# after the result
path_after = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "after")

In [3]:
entries = os.listdir(path_after)
NKY_FED_after = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_after, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_after = NKY_FED_after.append(df, ignore_index = True)

df_after = NKY_FED_after.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [4]:
df_after[df_after['Average_Daily_Return_pct'] > RETURN_THRE]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2016-06-21 2016-06-24    2016-07-21        -0.02       12.02      -0.25        -3.57       -21470       25850               3              5          21800             7266.67             21.80                      7.27
8  2016-06-22 2016-06-24    2016-07-21        -0.02       11.80      -0.27        -3.86       -22460       25850               2              4          13480             6740.00             13.48                      6.74
9  2016-06-22 2016-06-24    2016-08-18         0.00       16.50      -0.50        -2.58       -30870       33830               2              3           8820             4410.00              8.82                      4.41
10 2016-06-23 2016-06-24    2016-07-21         0.00       11.62      -0.14        -4.05       -22790       25850               1              4          12160            12160.00             12.16                     12.16
11 2016-06-23 2016-06-24    2016-08-18        -0.01       16.38      -0.51        -2.63       -29660       32730               1              3           9150             9150.00              9.15                      9.15

In [5]:
df_after[df_after['Average_Daily_Return_pct'] < -RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [6]:
# large return, short hoding period
df_after[(abs(df_after['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_after['holding_period'] < 4)]

   entry_date  exit_date maturity_date  entry_delta  entry_vega  entry_rho  entry_theta  entry_price  exit_price  holding_period  num_contracts  Actual_Profit  Average_Day_Profit  Total_Return_pct  Average_Daily_Return_pct
6  2016-06-21 2016-06-24    2016-07-21        -0.02       12.02      -0.25        -3.57       -21470       25850               3              5          21800             7266.67             21.80                      7.27
8  2016-06-22 2016-06-24    2016-07-21        -0.02       11.80      -0.27        -3.86       -22460       25850               2              4          13480             6740.00             13.48                      6.74
9  2016-06-22 2016-06-24    2016-08-18         0.00       16.50      -0.50        -2.58       -30870       33830               2              3           8820             4410.00              8.82                      4.41
10 2016-06-23 2016-06-24    2016-07-21         0.00       11.62      -0.14        -4.05       -22790       25850               1              4          12160            12160.00             12.16                     12.16
11 2016-06-23 2016-06-24    2016-08-18        -0.01       16.38      -0.51        -2.63       -29660       32730               1              3           9150             9150.00              9.15                      9.15

In [7]:
# before the result

path_before = os.path.join(infp , "Result" , MARKET , MARKET +"_" + EVENT , "before")
entries = os.listdir(path_before)
NKY_FED_before = pd.DataFrame()

for entry in entries[:NUM_FILE]:
    xls_file = os.path.join(path_before, entry)
    df = pd.read_excel(xls_file)
    NKY_FED_before = NKY_FED_before.append(df, ignore_index = True)

df_before = NKY_FED_before.drop(["trade_num", "entry_gamma","total_t_cost"], axis = 1)

In [8]:
df_before[df_before['Average_Daily_Return_pct'] > RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [9]:
df_before[df_before['Average_Daily_Return_pct'] < -RETURN_THRE]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [10]:
# large return, short hoding period
df_before[(abs(df_before['Average_Daily_Return_pct']) > RETURN_THRE) &  (df_before['holding_period'] < 4)]

Empty DataFrame
Columns: [entry_date, exit_date, maturity_date, entry_delta, entry_vega, entry_rho, entry_theta, entry_price, exit_price, holding_period, num_contracts, Actual_Profit, Average_Day_Profit, Total_Return_pct, Average_Daily_Return_pct]
Index: []

In [11]:
abs(df_after['Average_Daily_Return_pct']).mean()

4.26

In [15]:
import numpy as np

print("Exit after the event - mean:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit after the event - std:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit after the event - Sharpe:", df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()/df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].std()/np.sqrt(df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].count())



print("Exit before the event - mean:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean())
print("Exit before the event - std:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std())
print("Exit before the event - Sharpe:", df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].mean()/df_before[(df_before['holding_period'] < 4)]['Average_Daily_Return_pct'].std()/np.sqrt(df_after[(df_after['holding_period'] < 4)]['Average_Daily_Return_pct'].count())

Exit after the event - mean: 7.1866666666666665
Exit after the event - std: 3.191229648061491
Exit after the event - Sharpe: 0.375334247256
Exit before the event - mean: 1.3866666666666667
Exit before the event - std: 0.9318512041450968
Exit after the event - Sharpe: 0.248012890988

In [14]:
print("Exit after the event - abs mean:", abs(df_after['Average_Daily_Return_pct']).mean())
print("Exit before the event - abs mean:", abs(df_before['Average_Daily_Return_pct']).mean())

Exit after the event - abs mean: 4.26
Exit before the event - abs mean: 1.593